h2 { color:red;}

.titulo {
     color:blue !important;
     background-color: yellow !important;
     width: 200px !important;
     
    }

    .hola {
        margin-top: 50px;
       border:1px solid red !important;
    }